@page
@model WeblawyersBox.Pages.Atividades.NovaActividadeModel

@{
    ViewData["Title"] = "NovaActividade";
}


<h3><i class="fa fa-archive"></i>  @Html.DisplayFor(model => model.Processo_Tb.tipo)- @Html.DisplayFor(model => model.Processo_Tb.TituloProcesso)</h3>



<hr />
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <div class="card-header-left">
                    <h5>Adicionar actividades</h5>
                </div>

            </div>
            <div class="card-block">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                   
                   
                    <div class="form-group">
                        <label asp-for="ActividadesProcessos.Descricaoactividades" class="control-label"></label>
                        <textarea asp-for="ActividadesProcessos.Descricaoactividades" class="form-control" placeholder="Descreca aqui a sua actividade"></textarea>
                        <span asp-validation-for="ActividadesProcessos.Descricaoactividades" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label asp-for="ActividadesProcessos.data" class="control-label"></label>
                                <input asp-for="ActividadesProcessos.data" class="form-control" />
                                <span asp-validation-for="ActividadesProcessos.data" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label asp-for="ActividadesProcessos.prioridades" class="control-label"></label>
                                <select asp-for="ActividadesProcessos.prioridades" class="form-control" asp-items="@Html.GetEnumSelectList<prioridade>()"></select>
                                <span asp-validation-for="ActividadesProcessos.prioridades" class="text-danger"></span>
                            </div>
                        </div>

                    </div>


                    <div class="form-group">
                        <label asp-for="ActividadesProcessos.responsavel" class="control-label"></label>
                        <input asp-for="ActividadesProcessos.responsavel" class="form-control" value="@User.Identity.Name" />
                        <span asp-validation-for="ActividadesProcessos.responsavel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ActividadesProcessos.cores" class="control-label"></label>
                        <input asp-for="ActividadesProcessos.cores" class="form-control" type="color" />
                        <span asp-validation-for="ActividadesProcessos.cores" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" value="Create" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
                        <a asp-page="/Processo/Details" asp-route-id="@Request.Query["id"]" class="btn btn-secondary"><i class="fa fa-backward"></i> voltar</a>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
